<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha Ingreso</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let cliente of Clientes">
        <th scope="row">{{ cliente.id}}</th>
        <td>{{ cliente.nombre}}</td>
        <td>{{ cliente.apellido}}</td>
        <td>{{ cliente.email}}</td>
        <td>{{ cliente.createAt}}</td>
      </tr>

    </tbody>
  </table>
</div>
